@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

@theme {
  /* Cores personalizadas */
  --color-primary: #0094cb;
  --color-secondary: #9333ea;
  --color-background: #0f172a;
  --color-text: #e2e8f0;

  /* Fontes */
  --font-inter: "Inter", sans-serif;
}

body {
  overflow-y: scroll;
}

.form-field-focus:focus {
  border-color: #0094cb;
  box-shadow: 0 0 0 2px rgb(0 148 203 / 40%);
}

body.keyboard-navigation .form-field-focus:focus {
  border-color: #1e3a8a;
  box-shadow: 0 0 0 5px rgb(191 219 254);
}

.keyboard-focus:focus {
  box-shadow: none;
  outline: none;
}

body.keyboard-navigation .keyboard-focus:focus {
  box-shadow: 0 0 0 5px rgb(#0094cb);
  outline: 3px solid #1e3a8a;
  outline-offset: 3px;
}

.wizard-title {
  font-size: 2rem !important;   /* aumenta aqui */
  font-weight: 700 !important;
}

.wizard-subtitle {
  font-size: 1rem !important;
}

