@import "tailwindcss";

@theme {
  /* Cores personalizadas */
  --color-primary: #0094cb;
  --color-secondary: #9333ea;
  --color-background: #0f172a;
  --color-text: #e2e8f0;

  /* Fontes */
  --font-inter: "Inter", sans-serif;
}

.wizard-title {
  font-size: 2rem !important;   /* aumenta aqui */
  font-weight: 700 !important;
}

.wizard-subtitle {
  font-size: 1rem !important;
}